.footer {
background-color: rgb(0, 0, 33);
  /* background-color: #222; */
  color: #fff;
  padding: 10px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 20px;
  margin: 0 auto;
  
  padding: 0 20px;
}

.footer-left {
  text-align: left;
}

.footer-left h3 {
  margin: 0;
  font-size: 1.5rem;
}

.footer-left p {
  margin: 10px 0;
}

.social-icons {
  display: flex;
  margin-top: 10px;
}

.social-icons a {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
}

.footer-right {
  text-align: right;
}
.cnt {
  width: 30px;
  height: 30px;
  border: 2px solid #ffffff; /* Border width and color */
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Media query for responsive design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
}
